.dark-medium-contrast {
  --md-sys-color-primary: rgb(185 212 139);
  --md-sys-color-surface-tint: rgb(180 208 135);
  --md-sys-color-on-primary: rgb(14 26 0);
  --md-sys-color-primary-container: rgb(128 153 86);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(197 207 176);
  --md-sys-color-on-secondary: rgb(17 25 6);
  --md-sys-color-secondary-container: rgb(139 148 120);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(164 212 206);
  --md-sys-color-on-tertiary: rgb(0 26 24);
  --md-sys-color-tertiary-container: rgb(107 153 148);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(227 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(251 252 240);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(201 204 189);
  --md-sys-color-outline: rgb(161 164 150);
  --md-sys-color-outline-variant: rgb(129 133 119);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 227 216);
  --md-sys-color-inverse-on-surface: rgb(41 43 35);
  --md-sys-color-inverse-primary: rgb(57 79 20);
  --md-sys-color-primary-fixed: rgb(208 237 161);
  --md-sys-color-on-primary-fixed: rgb(10 20 0);
  --md-sys-color-primary-fixed-dim: rgb(180 208 135);
  --md-sys-color-on-primary-fixed-variant: rgb(39 60 3);
  --md-sys-color-secondary-fixed: rgb(221 231 198);
  --md-sys-color-on-secondary-fixed: rgb(12 19 3);
  --md-sys-color-secondary-fixed-dim: rgb(193 202 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(49 57 35);
  --md-sys-color-tertiary-fixed: rgb(188 236 230);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 19);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 202);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 61 57);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(56 58 50);
  --md-sys-color-surface-container-lowest: rgb(13 15 9);
  --md-sys-color-surface-container-low: rgb(26 28 22);
  --md-sys-color-surface-container: rgb(30 32 25);
  --md-sys-color-surface-container-high: rgb(41 43 35);
  --md-sys-color-surface-container-highest: rgb(51 54 46);
}
