.dark-medium-contrast {
  --md-sys-color-primary: rgb(190 200 255);
  --md-sys-color-surface-tint: rgb(185 195 255);
  --md-sys-color-on-primary: rgb(2 16 70);
  --md-sys-color-primary-container: rgb(130 141 200);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(199 201 225);
  --md-sys-color-on-secondary: rgb(18 21 38);
  --md-sys-color-secondary-container: rgb(141 143 166);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(233 190 221);
  --md-sys-color-on-tertiary: rgb(38 12 35);
  --md-sys-color-tertiary-container: rgb(172 133 162);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 24);
  --md-sys-color-on-background: rgb(227 225 233);
  --md-sys-color-surface: rgb(18 19 24);
  --md-sys-color-on-surface: rgb(252 250 255);
  --md-sys-color-surface-variant: rgb(69 70 79);
  --md-sys-color-on-surface-variant: rgb(202 202 212);
  --md-sys-color-outline: rgb(162 162 172);
  --md-sys-color-outline-variant: rgb(130 130 140);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 225 233);
  --md-sys-color-inverse-on-surface: rgb(41 42 47);
  --md-sys-color-inverse-primary: rgb(57 68 122);
  --md-sys-color-primary-fixed: rgb(221 225 255);
  --md-sys-color-on-primary-fixed: rgb(0 10 61);
  --md-sys-color-primary-fixed-dim: rgb(185 195 255);
  --md-sys-color-on-primary-fixed-variant: rgb(38 50 103);
  --md-sys-color-secondary-fixed: rgb(223 225 249);
  --md-sys-color-on-secondary-fixed: rgb(13 16 33);
  --md-sys-color-secondary-fixed-dim: rgb(195 197 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(50 53 72);
  --md-sys-color-tertiary-fixed: rgb(255 215 243);
  --md-sys-color-on-tertiary-fixed: rgb(33 7 29);
  --md-sys-color-tertiary-fixed-dim: rgb(229 186 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 44 68);
  --md-sys-color-surface-dim: rgb(18 19 24);
  --md-sys-color-surface-bright: rgb(56 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(41 42 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
}
