.dark-medium-contrast {
  --md-sys-color-primary: rgb(132 217 217);
  --md-sys-color-surface-tint: rgb(128 212 213);
  --md-sys-color-on-primary: rgb(0 26 26);
  --md-sys-color-primary-container: rgb(71 158 158);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(181 208 207);
  --md-sys-color-on-secondary: rgb(0 26 26);
  --md-sys-color-secondary-container: rgb(123 150 149);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(183 204 237);
  --md-sys-color-on-tertiary: rgb(0 23 48);
  --md-sys-color-tertiary-container: rgb(126 146 177);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 227);
  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(246 252 251);
  --md-sys-color-surface-variant: rgb(63 73 72);
  --md-sys-color-on-surface-variant: rgb(194 205 204);
  --md-sys-color-outline: rgb(155 165 164);
  --md-sys-color-outline-variant: rgb(123 133 133);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 227);
  --md-sys-color-inverse-on-surface: rgb(37 43 43);
  --md-sys-color-inverse-primary: rgb(0 81 81);
  --md-sys-color-primary-fixed: rgb(156 241 241);
  --md-sys-color-on-primary-fixed: rgb(0 20 20);
  --md-sys-color-primary-fixed-dim: rgb(128 212 213);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 62);
  --md-sys-color-secondary-fixed: rgb(204 232 231);
  --md-sys-color-on-secondary-fixed: rgb(0 20 20);
  --md-sys-color-secondary-fixed-dim: rgb(176 204 203);
  --md-sys-color-on-secondary-fixed-variant: rgb(33 58 58);
  --md-sys-color-tertiary-fixed: rgb(211 227 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 18 39);
  --md-sys-color-tertiary-fixed-dim: rgb(179 200 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(35 55 81);
  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(52 58 58);
  --md-sys-color-surface-container-lowest: rgb(9 15 15);
  --md-sys-color-surface-container-low: rgb(22 29 29);
  --md-sys-color-surface-container: rgb(26 33 33);
  --md-sys-color-surface-container-high: rgb(37 43 43);
  --md-sys-color-surface-container-highest: rgb(47 54 54);
}
