.dark-high-contrast {
  --md-sys-color-primary: rgb(234 255 254);
  --md-sys-color-surface-tint: rgb(128 212 213);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(132 217 217);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(234 255 254);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(181 208 207);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(251 250 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(183 204 237);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 227);
  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 73 72);
  --md-sys-color-on-surface-variant: rgb(243 253 252);
  --md-sys-color-outline: rgb(194 205 204);
  --md-sys-color-outline-variant: rgb(194 205 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 227);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 48 48);
  --md-sys-color-primary-fixed: rgb(160 245 245);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(132 217 217);
  --md-sys-color-on-primary-fixed-variant: rgb(0 26 26);
  --md-sys-color-secondary-fixed: rgb(208 236 236);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(181 208 207);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 26 26);
  --md-sys-color-tertiary-fixed: rgb(218 232 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(183 204 237);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 23 48);
  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(52 58 58);
  --md-sys-color-surface-container-lowest: rgb(9 15 15);
  --md-sys-color-surface-container-low: rgb(22 29 29);
  --md-sys-color-surface-container: rgb(26 33 33);
  --md-sys-color-surface-container-high: rgb(37 43 43);
  --md-sys-color-surface-container-highest: rgb(47 54 54);
}
